<table class="score-board table">
    <thead>
    <tr>
        <th class="score-board__position" title="Positie">Pos</th>
        <th class="score-board__team" title="Team">Team</th>
        <th class="score-board__played" title="Gespeeld">Pld</th>
        <th class="score-board__won" title="Gewonnen">W</th>
        <th class="score-board__draw" title="Gelijkspel">D</th>
        <th class="score-board__lost" title="Verloren">L</th>
        <th class="score-board__goals-for" title="Aantal goalen gemaakt">GF</th>
        <th class="score-board__goals-against" title="Aantal goalen tegen gehad">GA</th>
        <th class="score-board__goal-diff" title="Doelpuntensaldo">GD</th>
        <th class="score-board__points" title="Punten">Pts</th>
    </tr>
    </thead>
    <tbody>
    {% set position = 1 %}
    {% for teamScore in groupScoreBoard.orderedScores %}
        <tr>
            <td class="text-center">{{ position }}</td>
            <td><span class="{{ teamScore.team.imageClass }}"></span> {{ teamScore.team.name }}</td>
            <td class="text-center">{{ teamScore.played }}</td>
            <td class="text-center">{{ teamScore.wins }}</td>
            <td class="text-center">{{ teamScore.draws }}</td>
            <td class="text-center">{{ teamScore.loses }}</td>
            <td class="text-center">{{ teamScore.goalsFor }}</td>
            <td class="text-center">{{ teamScore.goalsAgainst }}</td>
            <td class="text-center">{{ teamScore.goalDifference }}</td>
            <td class="text-center">{{ teamScore.points }}</td>
        </tr>
        {% set position = position + 1 %}
    {% endfor %}
    </tbody>
</table>

