<a href="{{ url('match_detail', {match: match.id}) }}" class="group-match">
    <div class="group-match__row group-match__link">{{ match.date.format('d/m/Y') }} {{ match.time.format('H:i') }}</div>
    <div class="group-match__row">
        <span class="col-lg-2"><span class="{{ match.homeTeam.imageClass }}"></span></span>
        <span class="col-lg-2 group-match__link" class="group-match__home-team">{{ match.homeTeam.name }}</span>
        <span class="col-lg-1"><strong>{{ match.scoreHome }}</strong></span>
        <span class="col-lg-2"> - </span>
        <span class="col-lg-1"><strong>{{ match.scoreAway }}</strong></span>
        <span class="col-lg-2 group-match__link" class="group-match__away-team">{{ match.awayTeam.name }}</span>
        <span class="col-lg-2"><span class="{{ match.awayTeam.imageClass }}"></span></span>
    </div>
    <div class="group-match__link group-match__row">{{ match.arena }}</div>
    {% if is_granted('ROLE_USER') and app.user.getPrognose(match) %}
        {% set prognose=app.user.getPrognose(match) %}
        <div class="group-match__prono">
            <div class="group-match__row">
                <span class="col-lg-4">Mijn prono:</span>
                <span class="col-lg-8">{{ prognose.scoreHome }} - {{ prognose.scoreAway }}</span>
            </div>
            {% if match.ended %}
                <div class="group-match__row">
                    <span class="col-lg-4">Mijn punten:</span>
                    <span class="col-lg-8">{{ pointsCalculator.calculate(match.scoreHome, match.scoreAway, prognose.scoreHome, prognose.scoreAway) }}</span>
                </div>
            {% endif %}
        </div>
    {% endif %}
</a>