<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Wk kwalificatie{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bootstrap/css/bootstrap-theme.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
    <div class="wrapper layout">
        <div class="header">
            <div class="layout__left-column header__logo"><a href="{{ url('homepage') }}" class="header__logo__link">WK Kwalificatie</a>
            </div>
            <div class="layout__right-column header__navigation --right">
                <ul>
                    <li>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('fos_user_security_logout') }}">Uitloggen</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Inloggen</a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="page">
            <div class="layout__left-column page__navigation">
                {{ knp_menu_render('main', {'currentClass': 'navigation__item--active', 'firstClass': 'navigation__item--first', 'lastClass': 'navigation__item--last'}) }}
            </div>
            <div class="layout__right-column page__body">
                <div class="page__body__container">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}{% endblock %}
    </body>
</html>
