{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
    <div class="col-lg-2">
        <div class="panel">
            <div class="panel-body">
                Your score: <b>{{ app.user.score }} point(s)</b>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-lg-5">
        <div class="panel">
            <div class="panel-body">
                <h1>Team scores</h1>
                <table class="team-scores">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr {% if user == app.user %}class="user-is-me"{% endif %}>
                        <td class="team-scores__position">{{ loop.index }}</td>
                        <td class="team-scores__name">{{ user.username }}</td>
                        <td class="team-scores__points">{{ user.score }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel">
            <div class="panel">
                <div class="panel-body">
                    <h1>Next matches</h1>
                    {% for match in nextMatches %}
                        {{ include(':default/includes:match-table.html.twig', {match: match}) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}