{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groep {{ match.group.name }}</h1>
    <div class="panel">
        <div class="panel-body">
            <div class="match-detail">
                <div class="match-detail__datetime"><b>Tijdstip:</b> {{ match.dateTime.format('d/m/Y H:i') }}</div>
                <div class="match-detail__location"><b>Locatie:</b> {{ match.arena }} in {{ match.city }}</div>
                <div class="match-detail__details">

                    <div class="col-lg-2 match-detail__flag">
                        <span class="{{ match.homeTeam.imageClass }}"></span>
                    </div>
                    <div class="col-lg-2 match-detail__team">
                        {{ match.homeTeam.name }}
                    </div>
                    <div class=" col-lg-1 match-detail__score">
                        {% if match.ended %}{{ match.scoreHome }}{% else %} - {% endif %}
                    </div>
                    <div class="col-lg-2 match-detail__score-separator">
                        -
                    </div>
                    <div class="col-lg-1 match-detail__score">
                        {% if match.ended %}{{ match.scoreAway }}{% else %} - {% endif %}
                    </div>
                    <div class="col-lg-2 match-detail__team">
                        {{ match.awayTeam.name }}
                    </div>
                    <div class=" col-lg-2 match-detail__flag">
                        <span class="{{ match.awayTeam.imageClass }}"></span>
                    </div>

                </div>
                {% if prognose %}
                <div class="match-detail__prognose">Jouw prognose:  {{ prognose.scoreHome }} - {{ prognose.scoreAway }}</div>
                <div class="match-detail__points">Score gekregen voor deze match: {{ pointsCalculator.calculate(match.scoreHome, match.scoreAway, prognose.scoreHome, prognose.scoreAway) }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

