{% extends 'base.html.twig' %}

{% block body %}
    {# {% for group in groups %}
        <div>
            <h3>Poule {{ group.name }}</h3>
            <ul>
                {% for team in group.teams %}
                    <li>{{ team.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %} #}

    <h1>Matches</h1>
    <form method="post">
        <table>
            <thead>
                <tr>
            {% if not away %}
                <th>Home</th>
            {% endif %}
                <th style="text-align: right">Team 1</th>
                <th style="text-align: center">vs</th>
                <th style="text-align: left">Team 2</th>
            {% if not away %}
                <th>Home</th>
            {% endif %}
                <th style="text-align: left">Date and time</th>
                <th style="text-align: left">Arena</th>
                <th style="text-align: left">City</th>
                </tr>
            </thead>
            <tbody>
        {% for match in matches %}
            <tr>
                {% if not away %}
                <td>
                    <input type="radio" name="{{ match.homeTeam.id }}_{{ match.awayTeam.id }}" value="{{ match.homeTeam.id }}" id="{{ match.homeTeam.id }}_{{ match.homeTeam.id }}_{{ match.awayTeam.id }}" checked/>
                </td>
                {% endif %}

                <td style="text-align: right">
                    <label for="{{ match.homeTeam.id }}_{{ match.homeTeam.id }}_{{ match.awayTeam.id }}">
                        {{ match.homeTeam.name }}
                    </label>
                </td>

                <td style="text-align: center"> - </td>

                <td>
                    <label for="{{ match.awayTeam.id }}_{{ match.homeTeam.id }}_{{ match.awayTeam.id }}">
                        {{ match.awayTeam.name }}
                    </label>
                </td>

                {% if not away %}
                <td>
                    <input type="radio" name="{{ match.homeTeam.id }}_{{ match.awayTeam.id }}" value="{{ match.awayTeam.id }}" id="{{ match.awayTeam.id }}_{{ match.homeTeam.id }}_{{ match.awayTeam.id }}" />
                </td>
                {% endif %}
                <td>
                    <input type="datetime-local" name="dateTime_{{ match.homeTeam.id }}_{{ match.awayTeam.id }}" value="{{ match.dateTime.format('Y-m-d\\TH:i')|default('') }}" />
                </td>
                <td>
                    <input type="text" name="arena_{{ match.homeTeam.id }}_{{ match.awayTeam.id }}" value="{{ match.arena|default('') }}" />
                </td>
                <td>
                    <input type="text" name="city_{{ match.homeTeam.id }}_{{ match.awayTeam.id }}" value="{{ match.city|default('') }}" />
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <button type="submit">Opslaan</button>
    </form>
{% endblock %}

