{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groep {{ match.group.name }}</h1>
    <div class="panel">
        <div class="panel-body">
            <div class="match-detail">
                {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
                <div class="match-detail__datetime"><b>Tijdstip:</b> {{ match.dateTime.format('d/m/Y H:i') }}</div>
                <div class="match-detail__location"><b>Locatie:</b> {{ match.arena }} in {{ match.city }}</div>
                <div class="match-detail__details">

                    <div class="col-lg-2 match-detail__flag">
                        <span class="{{ match.homeTeam.imageClass }}"></span>
                    </div>
                    <div class="col-lg-2 match-detail__team">
                        {{ match.homeTeam.name }}
                    </div>
                    <div class=" col-lg-1 match-detail__score">
                        {{ form_widget(form.scoreHome) }}
                    </div>
                    <div class="col-lg-2 match-detail__score-separator">
                        -
                    </div>
                    <div class="col-lg-1 match-detail__score">
                        {{ form_widget(form.scoreAway) }}
                    </div>
                    <div class="col-lg-2 match-detail__team">
                        {{ match.awayTeam.name }}
                    </div>
                    <div class=" col-lg-2 match-detail__flag">
                        <span class="{{ match.awayTeam.imageClass }}"></span>
                    </div>

                </div>

                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success match-detail__submit-btn'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

