{% extends 'base.html.twig' %}

{% block body %}
<h1>Resultaten</h1>

<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Groepsfase</h2>
    </header>
    <div class="panel-body">

        {% if app.request.hasPreviousSession %}
            {% for flashMessage in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% endif %}

        <ul class="nav nav-pills">
        {% for groupScoreBoard in groupScoreBoards %}
            <li><a href="#group-{{ groupScoreBoard.group.name|lower }}">Groep {{ groupScoreBoard.group.name }}</a></li>
        {% endfor %}
        </ul>
{% for groupScoreBoard in groupScoreBoards %}
        <div class="col-lg-6">
            <a class="anchor" id="group-{{ groupScoreBoard.group.name|lower }}"></a>
            <h3>Groep {{ groupScoreBoard.group.name }}</h3>
            {{ include('default/includes/group-standings.html.twig', {'groupScoreBoard': groupScoreBoard}) }}
            <div class="group-matches">
            {% for match in groupScoreBoard.group.getAllMatchesOrderedByDateTime() %}
                {{ include(':default/includes:match-table.html.twig', {match: match}) }}
            {% endfor %}
            </div>
        </div>
{% endfor %}
    </div>
</section>

{% endblock %}

