{% extends 'base.html.twig' %}

{% block body %}
<h1>Inloggen</h1>
<section class="panel">
    <div class="panel-body">
        {% if error %}
            <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group">
                <label for="username">Gebruikersnaam</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
            </div>

            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input class="form-control" type="password" id="password" name="_password" required="required"/>
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    Aangemeld blijven
                </label>
            </div>

            <button class="btn btn-default" type="submit" id="_submit">Inloggen</button>
        </form>
    </div>
</section>
{% endblock %}