* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $default-rem-size;
}

body {
    height: 100%;
    margin: 0;
    font-size: px-2-rem(16px);
    font-family: 'Roboto', sans-serif;
    color: map-get($colors, font-color);
}
