@import "mixins/*";
@import "variables";

.grid__row {
    @extend .clearfix;
    width: 100%;
}

/* Grid Col */
[class*="__col"] {
    box-sizing: border-box;
    position: relative;
}

@each $size, $sizeConfig in $sizes {

    @if map-has-key($sizeConfig, grid) {
        $gridConfig: map-get($sizeConfig, grid);

        $gutter: map_get($gridConfig, gutter);
        $columns: map_get($gridConfig, columns);
        $columnsUsed: map_get($gridConfig, columns-used);

        $columnWidthPercentage: (100 - (($columns - 1) * strip-units($gutter))) / $columns;
        @each $column in $columnsUsed {
            @include screen-size($size) {

                .grid--v-#{$size}__col--#{$column} {
                    width: ($columnWidthPercentage * $column) + (($column - 1) * $gutter);
                    margin-right: $gutter;
                    float: left;
                }
            }
        }

        .grid--v-#{$size}__col--omega {
            margin-right: 0;
        }

        .#{$size}--hidden {
            display: none;
        }
    }
}