$breakpoint-medium: 980px;
$breakpoint-small: 560px;

$sizes: (
    large: (
        grid: (
            gutter: 2%,
            columns: 12,
            columns-used: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12),
            screen-min-width: $breakpoint-medium + 1,
        )
    )

);

$default-rem-size: 16px;

// layout

$navigation-width: 200px;
$header-height: 75px;

$colors: (
    primary:                #007b0c,
    primary-darker:         #00680A,
    primary-lighter:        #018E0E,
    secondary:              #ffffff,
    background:             #ecedf0,
    font-color:             #333333,
    font-color-light:       #808080
);