@mixin screen-size($sizeNames...) {
    @each $size in $sizeNames {
        @each $screen-size, $screen-size-config in $sizes {
            $gridConfig: map-get($screen-size-config, grid);

            @if $size == $screen-size {
                @if map-has-key($gridConfig, screen-min-width) and map-has-key($gridConfig, screen-max-width) {
                    @media only screen and (min-width: map-get($gridConfig, screen-min-width)) and (max-width: map-get($gridConfig, screen-max-width)) {
                        @content;
                    }
                } @else if map-has-key($gridConfig, screen-min-width) {
                    @media only screen and (min-width: map-get($gridConfig, screen-min-width)) {
                        @content;
                    }
                } @else if map-has-key($gridConfig, screen-max-width) {
                    @media only screen and (max-width: map-get($gridConfig, screen-max-width)) {
                        @content;
                    }
                } @else {
                    @content;
                }
            }
        }
    }
}