.group-match {
    display: block;
    clear: left;
    overflow: hidden;
    padding: 15px 0 5px 0;
    text-align: center;
    text-decoration: none;
}

.group-match__home-team {
    text-align: right;
}

.group-match__away-team {
    text-align: left;
}

.group-match {
    &:hover {
        .group-match__link {
            text-decoration: underline;
        }
    }
}

.group-match__row {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
}

.group-match__prono {
    text-align: left;
}