.header {
    height: $header-height;
    position: fixed;
    width: 100%;
    background-color: map-get($colors, secondary);
    border-bottom: 3px solid map-get($colors, primary-darker);
    z-index: 1;
}

.header__logo {
    height: 100%;
    line-height: $header-height;
    font-size: px-2-rem(20px);
    padding-left: 30px;
}

.header__logo__link {
    height: 100%;
    width: 100%;
    display: block;
    color: map-get($colors, primary);
    text-decoration: none;
}

.header__navigation {
    height: 100%;
    padding-right: 20px;

    &.--right {
        ul {
            float: right;
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                float: left;
                line-height: $header-height;
                padding: 0 10px;
            }
        }
    }
}