.layout {
    min-height: 100%;
    background: map-get($colors, background);
}

.layout__left-column {
    width: $navigation-width;
    float: left;
}

.layout__right-column {
    margin-left: $navigation-width;
}