a {
    color: map_get($colors, primary);
    &:hover {
        color: map_get($colors, primary-darker)
    }

    &.anchor {
        display: block;
        position: relative;
        top: -#{$header-height};
        visibility: hidden;
    }
}
