.match-detail {
}

.match-detail__details {
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.match-detail__submit-btn {
}

.match-detail__datetime {
    font-size: px-2-rem(16px);
    margin-bottom: 10px;
}

.match-detail__location {
    margin-bottom: 20px;
}

.match-detail__team {
    display: table-cell;
    text-align: center;
    float: none;
    vertical-align: middle;
    font-size: px-2-rem(25px);
}

.match-detail__flag {
    text-align: center;
    > span {
        font-size: 100px;
    }
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.match-detail__score-separator {
    text-align: center;
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.match-detail__score {
    display: table-cell;
    text-align: center;
    float: none;
    vertical-align: middle;
}

.match-detail__points {

}

.match-detail__prognose {
    margin-bottom: 10px;
}
