.navigation {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation__item {
    a {
        font-weight: bold;
        padding: 20px;
        display: block;
        color: map-get($colors, secondary);
        font-size: px-2-rem(15px);
        text-decoration: none;

        &:hover {
            background-color: map-get($colors, primary-lighter)
        }
    }
}

.navigation__item--active {
    a {
        border-left: 3px solid map-get($colors, secondary);
    }
}

.navigation__item__icon {
    padding-right: 30px;
}
