.page {
    height: 100%;
}

.page__navigation {
    height: 100%;
    margin-top: $header-height;
    position: fixed;
    background: map-get($colors, primary);
}

.page__body {
    min-height: 100%;
    background: map-get($colors, background);
}

.page__body__container {
    width: 100%;
    height: 100%;
    padding: #{$header-height + 20} 20px 20px 20px;
}