.panel {
    border: none;
}

.panel-heading {
    background: map_get($colors, primary-lighter);
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid map_get($colors, primary-darker);
    color: map_get($colors, secondary);
    padding: 18px;
    position: relative;
}

.panel-title {
    font-size: px-2-rem(20px);
}