.program-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.program-list__item {
    padding: 10px 0;
    border-bottom: 1px solid map-get($colors, 'background');

    &:last-child {
        border: none;
    }
}