.score-board__position {
    min-width: 40px;
    text-align: center;
}

.score-board__team {
    min-width: 300px;
}

.score-board__played {
    min-width: 40px;
    text-align: center;
}

.score-board__won {
    min-width: 40px;
    text-align: center;
}

.score-board__draw {
    min-width: 40px;
    text-align: center;
}

.score-board__lost {
    min-width: 40px;
    text-align: center;
}

.score-board__goals-for {
    min-width: 40px;
    text-align: center;
}

.score-board__goals-against {
    min-width: 40px;
    text-align: center;
}

.score-board__goal-diff {
    min-width: 40px;
    text-align: center;
}

.score-board__points {
    min-width: 40px;
    text-align: center;
}
