.team-scores {
    width: 100%;

    td, th {
        padding: 5px;
    }
}

.team-scores__name {
    width: 50%;
}

.team-scores__points {
    width: 40%;
}

.team-scores__position {
    text-align: center;
    width: 10%;
}